<div class="row">
  <div class="col text-center">
    <img src="assets/img/{{intentos}}.png" class="ahorcado-img">
    <h3>Intentos <small>{{intentos}} / 9</small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>{{palabraOculta}}</h1>
  </div>
</div>

<div *ngIf="gano" class="row">
  <div class="col text-center">
    <h1>Gracias profe!!</h1>
    <h4>:D</h4>
  </div>
</div>

<div *ngIf="perdio" class="row">
  <div class="col text-center">
    <h1>Oops, perdiste</h1>
    <h4>:(</h4>
  </div>
</div>

<br>

<div *ngIf="!gano && !perdio" class="row words">
  <div class="col text-center">
    <button *ngFor="let letra of letras" (click)="check(letra)" class="ltr btn btn-primary">{{letra}}</button>
  </div>
</div>

<div *ngIf="gano || perdio" class="row carryOn">
  <div class="col text-center">
    <button (click)="stillPlaying()" class="btn btn-primary">¿Deseas seguir jugando?</button>
  </div>
</div>